div[class*="language-"].line-numbers-mode .line-numbers{
    line-height: 1.19 !important;
}

div.navbar-item > a.router-link-active[aria-label="Merged view"], div.navbar-item > a.router-link-active[aria-label="Unmerged view"]{
    display: none;
}

p.sidebar-item.sidebar-heading{
    display: none;
}

p.sidebar-item.sidebar-heading + ul > li > a{
    font-weight: bold !important;
    font-size: 18px;
}

svg.hover{
    z-index: 2 !important;
}

.imageGrid .page a > img {
    width: 246px;
}